.ourteam {
	background-color:  #f7f7f7;
	max-width: 1920px;
	height: 1385px;
	&__block {
		.wrapper();
		padding: 142px 0 100px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}
	&__row {
		.row-flex();
		flex-direction:column;
		justify-content: center;
		align-items: justify;
		text-align: center;
	} 
	&__title {
		font-family: LibreBaskerville;
		color:  #313231;
		font-size: 48px;
		font-weight: 700;
		
		text-align: center;
	}
	&__text {
		margin-top: 50px;
		font-family: Poppins;
		color:  #616161;
		font-size: 20px;
		font-weight: 400;
		
		text-align: center;
	}
	&__list {
		margin-top: 79px;
		.row-flex();
		justify-content: space-around;
		&__item {
			.col();
			.size(3);
			cursor:pointer;
			font-family: Poppins;
			color:  #313131;
			
			display:flex;
			flex-wrap:wrap;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 30px; 
			padding: 0;
			margin-left: 0;
			margin-right: 0;
			text-align: justify;
			
		}
		&__img {
			box-sizing: border-box;  
			height: 250px;
			width: 200px;
			padding: 0;
			overflow: hidden;
			
			border: 10px solid #aaa;
			border-radius: 7px;
			margin-bottom: 30px;
			img {

				max-width: 100%;
				margin: 0;
				padding: 0;
			}
		}
		&__name {
			font-size: 18px;
			font-weight: 500;
		}
		&__job {
			font-size: 12px;
		
		}

		
	}


	&__descr {
		
		.row-flex();
		justify-content: space-around;
		
		&__block {
			.col();
			.size(12);
			background: #FFF;
			box-sizing:border-box;
			font-family: Poppins;
			color:  #313131;
			border: 3px solid #ccc;
			border-radius: 10px;
			display:flex;
			flex-wrap:wrap;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 60px; 
			padding: 80px;
			margin-left: 60px;
			margin-right: 60px;
			
			position: relative;

			&::before {
			  content: '';
			  position: absolute;
			  bottom: 100%;
			  
			  margin-left: -12px;
			  width: 0; height: 0;
			  border-bottom: 12px solid #ccc;
			  border-right: 12px solid transparent;
			  border-left: 12px solid transparent;
				
			}
			&::after {
			  content: '';
			  position: absolute;
			  bottom: 100%;
			  
			  margin-left: -8px;
			  width: 0; height: 0;
			  border-bottom: 8px solid #fff;
			  border-right: 8px solid transparent;
			  border-left: 8px solid transparent;
			}
			
		}
		.first {
			&::before, &::after {
				left:7%;
			}
		}
		.second {
			&::before, &::after {
				left:35%;
			}
		}
		.third {
			&::before, &::after {
				left:65%;
			}
		}
		.fourth {
			&::before, &::after {
				left:90%;
			}
		}

		&__about {
			
			text-align: left;

		
		}
		&__title {
			font-size: 24px;
			text-align: left;
			margin-bottom: 20px;
		}

		&__row {
			display:flex;
		}
		&__text {
			text-align: left;
			margin: 0;
			
		}

		&__link {
			flex:1;
			margin: 50px;
			display: flex;
			flex-direction:column;
			justify-content: center;
			img {
				display: block;

				min-width: 36px;
			}
		}

		&__socials {
			
			flex:1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0px 50px 15px 50px; 
			border-left: 2px solid #ddd;
			margin: 0;
			&__item {
				display: block;
				margin: 0;
				padding: 0;
				padding-left:15px;
				height: 30px;
			 	&--fb::before{
			 		content: '';
					display: block;
					position:relative;
					left:-25px;
					top:20px;
					
					width: 15px;
					height: 15px;
					
					
					 background: url('../img/fb-1.png'); 
			
			
				}
				&--tw::before{
					content: '';
					display: block;
					position:relative;
					left:-25px;
					top:20px;
					
					width: 15px;
					height: 15px;
					background-image: url('../img/tw-1.png');
				
				}
				&--lkdn::before{
					content: '';
					display: block;
					position:relative;
					left:-25px;
					top:20px;
					
					width: 15px;
					height: 15px;
					background-image: url('../img/lkdn-1.png');
				
				}
				&--inst::before{
					content: '';
					display: block;
					position:relative;
					left:-25px;
					top:20px;
					
					width: 15px;
					height: 15px;
					background-image: url('../img/inst-1.png');
				
				} 
				
			}
			 
			
		}
		
		
		
		
		
	}
		


	
	

	
	
		
}	